body {
    font-family: 'Cabin';
}

.primary {
    color: #fff;
}

.secondary {
    color: #1F1F1F;
}

.shared {
    color: #8E8E8E;
}

.header {
    background-color: #6D91DC;
    padding-top: 16px;
}

.bold {
    font-weight: 700;
    font-size: 20px;
}


.header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 52px;
}

.nav {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4px 52px 0;
}

.nav ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.nav a {
    font-size: 16px;
    color: #000;
    font-weight: 400;
}

.nav a:hover {
    text-decoration: none;
    color: #3D76BA;
}

.button-cart {
    border: none;
}


.order-container {
    max-width: 1120px;
    margin: 0 auto;
}

.order-container .order-wrapper {
    display: flex;
    flex-direction: row;
    gap: 130px;
}

.textarea {
    height: 104px;
    margin-bottom: 32px;
    resize: none;
    background-color: #F5F5F5;
}

.main-title {
    font-size: 32px;
    font-weight: 600;
    border-bottom: 1px solid #A8A8A8;
    margin-bottom: 56px;
    padding: 0 52px 23px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 416px;
    margin-bottom: 121px;
}

.input {
    width: 416px;
    border: 1px solid #8E8E8E;
    background-color: #F5F5F5;
    border-radius: 4px;
    margin-bottom: 16px;
}

.input[placeholder] {
    color: #8E8E8E;
}

.form label {
    margin-bottom: 8px;
}

.form .data-delivery {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.form .data-delivery label {
    font-size: 16px;
}

.form .data-delivery .input-date {
    width: 120px;
    height: 28px;
}


footer {
    background-color: #6D91DC;
    padding: 32px 52px;
}


.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


main {
    background-color: #EEEEEF;
    padding-top: 32px;
}


.form-title {
    margin-bottom: 16px;
}


.order {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: #F5F5F5;
    width: 526px;
    height: 456px;
    padding: 40px 40px;
}

.order-info .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 32px;
}

.order .order-info {
    display: flex;
    flex-direction: column;
}

.order-info .info {
    display: flex;
    flex-direction: row;
    gap: 13px 28px;
    margin-bottom: 32px;
}

.order-info .info div {
    display: flex;
    flex-direction: column;
    max-width: 192px;
}

.order-info .info div .title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 3px;
}

.order-info .info div .count {
    display: flex;
    flex-direction: column;
}

.order-info .info div .count .description {
    font-size: 16px;
    font-weight: 400;
}

.order .price {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
}

.order .total-price .total {
    font-size: 20px;
    font-weight: 700;
}

.order .total-price {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    border-top: 1px solid #A8A8A8;
    padding-top: 11px;
    margin-bottom: 42px;
}

.order .checkbox {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: baseline;
    margin-bottom: 16px;
}

.order .checkbox label {
    font-size: 16px;
    font-weight: 400;
}

.checkbox[type=checkbox] {
    accent-color: #8E8E8E !important;
}


.order .buttons {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.order .buttons .button {
    padding: 8px 24px;
    width: 215px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
}

.order .buttons .button-submit {
    background-color: #3D76BA;
}

.order .buttons .button-reset {
    background-color: #DEDEDE;
}

.call {
    display: flex;
    flex-direction: column;
}

.call .subtitle {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}

.call.subtitle.opportunity-call {
    font-size: 16px;
    font-weight: 400;
}


#comment {
    margin-bottom: 32px;
}

.call .label {
    margin-bottom: 16px;
}

.payment span {
    margin-bottom: 24px;
}





